.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background: linear-gradient(135deg, #1a2a44 0%, #2a3a54 100%);
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(5px);
    color: white;
    border: 2px solid rgba(0, 255, 255, 0.3);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}