.body{
    width: 100%;

}

.wrapper{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.error {
    border: 1px solid red;
    border-radius: 5px;
}

:global(.has-error) {
    input {
        border-color: red;
        background-color: red;
    }
}
